main {
    background-image: url(../../images/paris/louvre.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 

}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8e2cf83;
  }
  
  .titrecontact {
    text-align: center;
    padding: 20px;
    color: #fff;
    background-color: #000;
  }

  .titrecontact h1{
    font-size: 24px;
  
  }
  
  .titrecontact p{
    font-size: 14px;

  }
  
  /* Labels */
  label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
    color: #000;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  input:focus, select:focus, textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }